body{
  background: linear-gradient(to right,red,yellow);
  transition: all 0.2s;
}

h1{
  margin-top: 20%;
  font-size: 4rem;
  text-align: center;
  font-family: sans-serif;
  text-transform:uppercase;
}
h2{
  text-align: center;
  font-family: sans-serif;
  text-transform:uppercase;
}
h3{
  text-align: center;
}
#colorpick{
  display: flex;
  justify-content: center;
}
input{
  margin: 5px;
}
